*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#wrapper{

  max-width: 1400px;
  margin: auto; 
}

/***************************************header*************************************************************************************************/

/***************************************<Div>****************************************************************************************/
.styled-div{
    display: flex;
    justify-content:  space-between; 
    background-color: #127740;
    padding: 1%
    
    
    
}
.styled-div > * {
    margin-left: 2%;  
    margin-right: 2%; 
}
.emoji-flex {
    display: flex;
    gap: 1rem; 
}
.custom-color{
    color: #FFFFFF;
}
.logo{
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 20%; 

}


/***************************************<Div/> ***********************************************************************************************/

header{
    top: 0;
}
/**************************************navbar**********************************************************************************************/
.navbar {
      display: flex;               /* Use Flexbox for side-by-side layout */
      justify-content: space-between; /* Space out the logo and links */
      align-items: center;         /* Align items vertically */
      padding: .5rem 1rem;          /* Add spacing */
      background-color: #D3D3D3;   /* Optional background color */
    }
    .navbar button{
      display: inline-block; 
      border: none;  /* Remove the border */
      outline: none;  /* Remove the outline */
      background: none; 
      
      
    
    }
   .navbar .menu a {
      color: black;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
    


.submenu-btn{
  border: none;
  background: transparent;



}

    

 /**************************************navbar**********************************************************************************************/
/***********************************submenu******************************************************************************************/
.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  

}
.menu li {
  position: relative /* Important for submenu positioning */
  
}

.menu a {
  transition: color 0.3s;
  text-decoration: none;
  padding: .5rem 1rem;
  display: block;
  color:#333333 ;
}
/* Submenu styling */
.submenu {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%; /* Position below the main menu */
  left: 0;
  display: none; /* Hidden by default */
  background-color: #f9f9f9;
  max-width: fit-content;
}

.menu li:hover .submenu {
  display: block;
}
.navbar .menu a:hover {
  color: #127740;
}
.right-span {
  float: right; 
}



/***********************************submenu******************************************************************************************/
 /**************************************header**********************************************************************************************/
 
 /**************************************Home**********************************************************************************************/
.home-section-1{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center; 
    background-image: url('images/school.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    color: white; 
    padding: 3rem;

}

.swiper{
  max-width: 30%;


}
.swiper-slide img{
  max-width: 100%;


  animation-name: fade;
  animation-duration: 1.5s;

}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: #127740;
}
.swiper .swiper-pagination-bullet-active{
  background: #127740;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

.home-description{
  padding: 50px;
}
.home-section-2 {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center; 
  text-indent: 3rem;
  padding: 3rem;
}
.home-company{

  color: #127740;
  text-align: center;

}


.home-section-2 img{
  max-width: 10%; /* Set a width for the image */


}
.content-text{
  font-size: 16px;
  margin: 0;
}
.hamburger {
  display: none;
 }
 .home-section-3{
  display: flex;
  flex-direction: column;



}
 #company-partners{
  display: inline-flex;
  gap: 4rem;



 }


/**************************************home**********************************************************************************************/
 /**************************************about**********************************************************************************************/

.about{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center; 
  
}
 .about-section-2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: url('images/image6.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 50px;
    }
  .about-section-2-column {
    flex: 1; /* All columns get equal width */
    margin: 0 10px;
  }
.about-location{
    padding: 50px;
flex-wrap: wrap;
}
  .about-location h3{
    color: #127740;
    
  }
  .custom-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #about-header{
    font-weight: bold;
    color: #127740;
    text-align: center;
  }
  .about{
    padding: 50px;

  }
  .about img{

    max-width: 70%;



   
}
#about-section-2 h3{
  color: #d4f1f4
}
.map{
  max-width: 25%;
  max-height: 15rem;

}

/**************************************about**********************************************************************************************/

 /**************************************programs**********************************************************************************************/
 .home-section-3 {
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    gap: 30px; /* Adds space between images */
    position: relative;
    padding: 50px;
}
  .home-section-3 ::before {
    content: ""; /* Adds a decorative line */
    position: absolute;
    top: 0; /* Line appears at the top of the section */
    bottom:  0; 
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #21dd77;
  }
 .home-section-3 ::after {
    content: ""; /* Adds a decorative line */
    position: absolute;
    bottom:  0; /* Line appears at the top of the section */
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #21dd77;
}
.home-section-3 img{
position: center;
    max-width: 200px; /* Adjusts the size of the image */
    height: auto; /* Maintains aspect ratio */
        }
.programs-section-1{
padding: 20px; /* Adds padding on all sides */
background-color: #f0f0f0; /* Light background for visibility */
border: 1px solid #ccc; /* Optional border */
}
          
.programs-list{
  font-weight: bold;
}
.programs-title{
  padding: 4px;
  background-color:#127740
}

/**************************************programs**********************************************************************************************/

 /**************************************admissions**********************************************************************************************/
.admission-section-1{
padding: 20px;
}
.description {
  display: none; /* Start hidden */
}
.description.visible {
  display: block; /* Show when toggled */
}
.toggle-btn{
  padding: 4px;
  background-color: #127740;
}
.toggle-btn-1{
background-color: #127740;
}
/**************************************admissions**********************************************************************************************/

/***********************************scholarship******************************************************************************************/
#scholarship-content{
padding-top: 50px;
}
.text-wrapper {
  width: 600px; /* Set a container width (optional) */
}
.float-image {
  float: left; /* Positions the image on the left */
  margin : 15px; /* Adds space between the image and the text */
  width: 150px; /* Adjust image size */
  height: auto; /* Maintain aspect ratio */
}
.float-image {
  float: left; /* Aligns the image to the left */
  margin-right: 10px; /* Adds space between the image and text */
  width: 100px; /* Adjust image size */
  height: auto;
}
#contact-us{
  padding: 3rem;
  
}

#contact-us label,input,button{
  display: flex;
  padding: .5rem;
}
#contact-us input{
  width: 14rem;
}
#contact-us button{
  background-color: #127740;
  border: none;
}
/***********************************scholarship******************************************************************************************/
/***********************************footer*****************************************************************************************/
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  .footer-column {
    flex: 1;
 
    margin: 0 10px;
  }
  .custom-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }  
  
  /***********************************footer******************************************************************************************/
  

    /***************************************************tablet**********************************************************************/
 /*******************************************************tablet**************************************************************/
/*********************************************************tablet*************************************************************/
 /*********************************************************tablet***************************************************************/
  /*********************************************************tablet********************************************************************/
 /**********************************************************tablet********************************************************************/
/***********************************************************tablet******************************************************************/
 /*************************************************************tablet*****************************************************************/


 @media  (min-width: 659px) and (max-width: 1024px) 
 {
  #wrapper{
    width: 100%;
  }
  #header-1 {
    display: none;
}


 

  /***********************************styled-div******************************************************************************************/
  
.styled-div{
background-color: #127740;

justify-content:center;

padding: 5%



    }

    .emoji-flex {
      font-size: 3rem;
    }





  /***********************************navbar******************************************************************************************/
.navbar{
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
}


  .menu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 4.5rem;
    right: .5rem;
    min-width:  19rem;
    min-height: 20rem;
    padding: 1rem;
    z-index: 2; 
  
  }
.active {
  display: block;


}
.menu li {
  position: relative /* Important for submenu positioning */
  
}





.submenu {

  list-style: none;
  padding: 0;
  position: static;
  top: 100%; /* Position below the main menu */
  left: 0;
  display: none; /* Hidden by default */
  background-color: #f9f9f9;


}
.right-side{

  float: right;
}



 
  .submenu-btn{

    border: none;
    background: transparent;
    position: absolute;

    right: 0rem;
  
  
  
  
    }
    .menu li:hover .submenu {
      display: none;
    }
    .submenu-btn a{ 
      pointer-events: none; 
    }

    #btn{
      background-color: #2a1277;
      display: block;
    }
  
    /***********************************hamburger ******************************************************************************************/

  .hamburger {
    display: block;
    font-size: 2.5rem;

  
}


.description {
  display: none; /* Start hidden */
}
.description.visible {
  display: block; /* Show when toggled */
}




  /***********************************home ******************************************************************************************/
 
.home-section-1{
   


    margin: auto;
    position: relative;

  }

  .swiper-slide img{

    display: none;
      
  }

  .content-text {
    margin-left: 1rem;  /* Adds 20px space to the left */
    margin-right: 1rem; /* Adds 20px space to the right */

  }
  .content-text p {
    text-indent: 5%;
  }
  .navbar .menu li {
    color: #127740;
 
  }
  .btn:hover{
    color: #2a1277;
 
  }
  .home-description{
    position: absolute;
 
    top: 5%;
  }
  .home-section-2 {

    flex-direction: column;
    gap: 10%;


    text-indent: 1rem;
    padding: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
  .home-section-2 img{
    max-width: 50%; /* Set a width for the image */
  }
  .home-title{
    position: absolute;
}
.swiper{
    max-width: 5%;
  }
  .swiper{
    max-width: 100%;
  }
  .swiper-slide img{
    max-width: 100%;
  }
  .home-section-3{
    flex-direction: column;
    gap: 2rem;
    padding:  3rem
    
    
   

  }
  .item {
    padding: 10px 0; /* Adds 10px padding at the top and bottom of each item */
  }
  #company-partners{

    flex-direction: column;
    gap: 2rem;
   }

  /***********************************about ******************************************************************************************/


  .about img{

    max-width: 90%;
  }
  .map{
    max-width: 100%;
    max-height: 15rem;

  }

  /***********************************footer ******************************************************************************************/

   .footer{
    flex-direction: column;
    gap: 1rem;
    padding:  3rem
  }

 

 }

  
  /************************************************************mobile*************************************************************/
 /*************************************************************mobile********************************************************/
 /**************************************************************mobile*******************************************************/
/***************************************************************mobile*******************************************************/
 /**************************************************************mobile**********************************************************/
  /*************************************************************mobile****************************************************************/
 /**************************************************************mobile****************************************************************/
/***************************************************************mobile**************************************************************/
 /***************************************************************mobile***************************************************************/



@media  (max-width: 658px) 
{
  #wrapper{
    width: 100%;
  }
  #header-1 {
    display: none;
}


 

  /***********************************styled-div******************************************************************************************/
  
.styled-div{
background-color: #127740;

justify-content:center;

padding: 5%



    }

    .emoji-flex {
      font-size: 3rem;
    }





  /***********************************navbar******************************************************************************************/
.navbar{
  position: relative;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.navbar button{
  display: inline-block; 
  border: none;  /* Remove the border */
  outline: none;  /* Remove the outline */
  margin-left: auto; 

}


  .menu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 4.5rem;
    right: .5rem;
    min-width:  19rem;
    min-height: 20rem;
    padding: 1rem;
    z-index: 2; 
  
  }
.active {
  display: block;


}
.menu li {
  position: relative /* Important for submenu positioning */
  
}





.submenu {

  list-style: none;
  padding: 0;
  position: static;
  top: 100%; /* Position below the main menu */
  left: 0;
  display: none; /* Hidden by default */
  background-color: #f9f9f9;


}
.right-side{

  float: right;
}



 
  .submenu-btn{

    border: none;
    background: transparent;
    position: absolute;

    right: 0rem;
  
  
  
  
    }
    .menu li:hover .submenu {
      display: none;
    }
    .submenu-btn a{ 
      pointer-events: none; 
    }

    #btn{
      background-color: #2a1277;
      display: block;
    }
  
    /***********************************hamburger ******************************************************************************************/

  .hamburger {
    display: block;
    font-size: 2.5rem;

  
}


.description {
  display: none; /* Start hidden */
}
.description.visible {
  display: block; /* Show when toggled */
}




  /***********************************home ******************************************************************************************/
 
.home-section-1{
   


    margin: auto;
    position: relative;

  }

  .swiper-slide img{

    display: none;
      
  }

  .content-text {
    margin-left: 1rem;  /* Adds 20px space to the left */
    margin-right: 1rem; /* Adds 20px space to the right */

  }
  .content-text p {
    text-indent: 5%;
  }
  .navbar .menu li {
    color: #127740;
 
  }
  .btn:hover{
    color: #2a1277;
 
  }
  .home-description{
    position: absolute;
 
    top: 5%;
  }
  .home-section-2 {

    flex-direction: column;
    gap: 10%;


    text-indent: 1rem;
    padding: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
  .home-section-2 img{
    max-width: 50%; /* Set a width for the image */
  }
  .home-title{
    position: absolute;
}
.swiper{
    max-width: 5%;
  }
  .swiper{
    max-width: 100%;
  }
  .swiper-slide img{
    max-width: 100%;
  }
  .home-section-3{
    flex-direction: column;
    gap: 2rem;
    padding:  3rem
    
    
   

  }
  .item {
    padding: 10px 0; /* Adds 10px padding at the top and bottom of each item */
  }
  #company-partners{

    flex-direction: column;
    gap: 2rem;
   }

  /***********************************about ******************************************************************************************/


  .about img{

    max-width: 90%;
  }
  .map{
    max-width: 100%;
    max-height: 15rem;

  }

  /***********************************footer ******************************************************************************************/

   .footer{
    flex-direction: column;
    gap: 1rem;
    padding:  3rem
  }

 
  
}

